body {
	text-align: center;
	background-image: url("done.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Courier New', Courier, monospace;
	color: white;
}

h1 {
	text-align: center;
}

.btn{
	margin-left: 110vh;
	margin-top: 56vh;
	border-radius: 50px !important;
}

button a{
	text-decoration: none;
	color: yellow;
}

/* .sec{
	margin-left: 120vh;
	margin-top: 70vh;
} */